$background-color: #ffffff;
$background-color-header: #095985;

$tab-background-color-active: $background-color;
$tab-background-text-color-active: #000000;

$tab-background-color-inactive: #b4d7ee;
$tab-background-text-color-inactive: #1d5273;

$tab-background-color-inactive-hover: #0073b3;
$tab-background-text-color-inactive-hover: #ffffff;

$border-color: #d0d0d0;

$background-color-modal: #f9fcfd;
$color-text-modal: #ffffff;
