@use '../../styles/variables' as *;

.defaultLayout {
    header {
        background-color: $background-color-header;

        .headerTopBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            color: white;

            .tilteContainer {
                display: flex;
                align-items: center;
                gap: 1rem;

                .logoContainer {
                    display: flex;
                    align-items: center;

                    .logo {
                        height: 60px;
                        background-image: url('../../../public/logo.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 140px;

                        @media (max-width: 768px) {
                            background-image: url('../../../public/favicon.png');
                            width: 50px;
                        }
                    }
                }

                .title span{
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: white;
                    white-space: normal;
                    word-break: break-word;

                    @media (max-width: 768px) {
                        font-size: 1.2rem;
                        text-align: left;
                    }
                }

                .dateTime {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: white;

                    @media (max-width: 768px) {
                        font-size: 1.2rem;
                        text-align: left;
                    }
                }
            }

            @media (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 1rem;
    }
}
