@use '../../styles/variables' as *;

.infoContainer {
    border: 1px solid $border-color;
    border-radius: 8px;
    background-color: $background-modal-color;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $text-color-modal;
    background-color: $background-modal-color;
    padding-left: 8px;
}

.icon {
    color: $text-color-modal;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 8px 16px 16px;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}
